@model ContosoUniversity.ViewModels.LoginVM


@{
    ViewBag.Title = "Sign in";
}

<div class="bloc">

    <h2>Sign in</h2>

    @*if wrong login/password, display error message*@
    @if (ViewData["Error"] != null)
    {
        <p>
            @ViewData["Error"]
        </p>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="log">
                @*Login*@
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-1">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*Password*@
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-1">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                    <div class="col-md-4">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*Submit button*@
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-1">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-4 create">
                        <h3> Don't have an account yet?</h3>
                        @*link to account creation*@
                        <button type="button" class="btn" id="register"> @Html.ActionLink("Create new account", "Register", "Authentication")</button>
                    </div>
                </div>
            </div>


            }
        </div>
